<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>CRUD</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <div class="container mt-4">
            <a th:href="@{/listar}" class="btn btn-primary">Regresar</a>
            <div>
                <div class="container mt-4">

                    <div class="col-sm-6">
                        <form th:action="@{/eliminar}" th:object=${persona} method="POST">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Eliminar Persona</h3>
                                </div>


                                <div class="card-body">
                                    <div class="form-group">
                                        <lavel>ID</lavel>
                                        <input th:field="*{id}" type="text" class="form-control" readonly="readonly"/>
                                    </div>

                                    <div class="form-group">
                                        <lavel>NOMBRES</lavel>
                                        <input th:field="*{name}" type="text" class="form-control" readonly="readonly"/>
                                    </div>

                                    <div class="form-group">
                                        <lavel>APELLIDOS</lavel>
                                        <input th:field="*{apellido}" type="text" class="form-control" readonly="readonly">
                                    </div>

                                    <div class="form-group">
                                        <lavel>TELEFONO</lavel>
                                        <input th:field="*{telefono}" type="text" class="form-control" readonly="readonly"/>
                                    </div>
                                    

                                    <div class="card-footer">
                                        <input type="submit" value="Eliminar" class="btn btn-danger">
                                    </div>



                                </div>

                        </form>



                    </div>
                </div>
      </body>

</html>